@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset; from : https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Archivo", sans-serif;
  color: #4f4c4c;
}

h1,
h2,
h3 {
  font-family: "Krona One", sans-serif;
}

/* UTILS */

/* Great for debugging layouts */
.bordered {
  border: 1px solid black;
}

/* Generic wrapper */
.wrapper {
  padding: 1rem 2rem;
}

.scrollbar::-webkit-scrollbar {
  background-color: rgb(216, 211, 211);
  height: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #ffb565;
}

.dotted-bg {
  background: linear-gradient(90deg, white calc(25px - 1px), transparent 2%) center,
    linear-gradient(white calc(25px - 1px), transparent 2%) center, gray;
  background-size: 25px 25px;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: orange;
  cursor: grabbing;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: orange;
  margin-top: -4px;
  margin-bottom: -4px;
  cursor: grabbing;
}

/* Animations */

.expand {
  animation: expandIn;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  transform-origin: center;
}

@keyframes expandIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeIn {
  animation: fadeIn;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
